<% @teams.each do |team| %>

<li><strong><%= link_to "#{team.name}", team_path(team.id)%></strong>


<%= link_to "Delete Team", team_path(team.id), method: :delete, data: {confirm: 'Are you sure?'} %></li>
  <% end %>