<% @teams.each do |team| %>

<li><%= link_to "#{team.name}", team_path(team.id)%></li>

<% end %>
<%= form_tag destroy_multiple_teams_path, :methods: 'delete'  do %>
<%= check_box_tag "teams[]" :t,teameams, Team.all, :id, :name %>
  <% end %>