// Place all the styles related to the team controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.all-teams{
  margin: auto;
  padding: 10px;
}

#teamform{
  display: none;
}

#teamshow{
  display: none;
  float: auto;
  align-content: right;
  border-style: solid; 
  margin-right: auto;
  text-align: center;
 
}
.container-fluid{
  background-color: #abc4f3; 
}
body{
  background-color: #12213d; 
 
}